{%- assign thispageurl = include.pageurl | replace: ".html", ""  -%}
<div class="navbar-chulapa-modern">
    <input type="checkbox" class="navbar-chulapa-modern-button d-none" id="navi-toggle">
    <label for="navi-toggle" class="navbar-toggler p-1 d-flex align-items-center">
        <span class="navbar-toggler-icon">&nbsp;</span>
    </label>
    <div class="navbar-chulapa-modern-background">&nbsp;</div>
    <nav class="navbar-chulapa-modern-nav">
        <a class="navbar-brand " href="{{ site.navbar.brand.url | default: "/" | absolute_url }}">
          	{%- if site.navbar.brand.img -%}
          	<img src="{{ site.navbar.brand.img | absolute_url }}" width="30" class="d-inline-block align-top rounded-lg mr-1" alt="NavbarLogo">
          	{%- endif -%}
          	{{- site.navbar.brand.title -}}
      	</a>
        <ul class="navbar-nav d-flex flex-column align-items-center text-uppercase font-weight-light">
          {%- for item in site.navbar.nav -%}
            {%- if item.child[0] -%}
            <li class="nav-item dropdown">
              {%- assign containteractive  =  false -%}
                {%- for all in item.child -%}
                  {%- if thispageurl == all.url -%}
                    {%- assign containteractive  =  true -%}
                  {% endif %}
                {%- endfor -%}
                <a class="nav-link dropdown-toggle  {% if containteractive == true %} active {% endif %}" href="#" id="{{ item.title | strip | replace: " ", "-" }}" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ item.title }} </a>
						<div class="dropdown-menu dropdown-menu-right text-center pr-4" aria-labelledby="{{ item.title | strip | replace: " ", "-" }}">
						{%- for entry in item.child -%}
							{%- if entry.url contains "http" -%}
						<a class="dropdown-item nav-link" href="{{ entry.url }}">{{ entry.title }}</a>
							{%- else -%}
						<a class="dropdown-item nav-link {% if entry.url == thispageurl %} active {% endif %}" href="{{ entry.url | relative_url }}">{{ entry.title }} {% if entry.url == thispageurl %}<span class="sr-only">(current)</span>{% endif %}</a>
							{%- endif -%}
						{%- endfor -%}
						</div>
					</li>
					{%- else -%}
					<li class="nav-item">
						{%- if item.url contains "http" -%}
						<a class="nav-link" href="{{ item.url }}">{{ item.title }}</a>
						{%- else -%}
						<a class="nav-link {% if item.url == thispageurl %} active {% endif %}" href="{{ item.url | relative_url }}">{{ item.title }}  {% if item.url == thispageurl %}<span class="sr-only">(current)</span>{% endif %}</a>
						{%- endif -%}
					</li>
					{%- endif -%}
				{%- endfor -%}
				{%- if site.search.provider -%}
					<li class="nav-item">
						<a class="nav-link" href="{{ site.search.landing_page | default: '/search' | absolute_url }}">
							<span class="p-0 pr-1">{{ site.search.label | default: 'Search' }}</span><i class="fa fa-search" aria-hidden="true"></i>
							<span class="sr-only">{{ site.search.label | default: 'Search' }}</span>
						</a>
					</li>
				{%- endif -%}
        </ul>
    </nav>
</div>
