// Defaults needed as Bootstrap doesn't specifically format these tags
body {
    min-height: 100vh;
}

img {
    @extend .img-fluid;
    display: block;
    margin: auto;
}

table {
    @extend .table;
    @extend .table-sm;
    @extend .table-responsive;
    color: $body-color;
    display: block;

    thead {
        th {
            color: $thead-chulapa-text-color;
            background-color: $thead-chulapa-bg-color;
            border: 0;
        }
    }
}

hr {
    height: 0.125rem;
    border-width: 0;
    background-color: $primary;
}

blockquote {
    @extend .pl-2;
    @extend .pr-1;
    @extend .py-1;
    font-style: italic;
    background-color: $blockquote-chulapa-bg-color;
    border-left: 0.3rem solid $blockquote-chulapa-border-color;
    color: $blockquote-chulapa-text-color;
}

.footnotes {
  font-size:$font-size-sm;
}

.highlight {
    @extend .p-2;
}

// Could be overriden by highlight css
.highlight pre {
    background-color: $pre-chulapa-bg-color;
}