---
layout: page
title: 'Blog'
subtitle: 'Maps, codes & stuff'
excerpt: This is my blog
---

   {% for post in paginator.posts %} 
   <p>{{ post.title }} - <a href="{{ post.url | absolute_url }}">link</a></p>
   {% endfor %}
   
   <h3>Paginators</h3>
{% if paginator.total_pages > 1 %}
	{% if paginator.previous_page %}
		<p><a href="{{ paginator.previous_page_path | prepend: absolute_url }}">Newer Posts</a></p>
	{% endif %}
	{% if paginator.next_page %}
<p><a href="{{ paginator.next_page_path | prepend: absolute_url }}">Older Posts</a></p>
	{% endif %}
{% endif %}

  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <em>{{ page }}</em>
    {% elsif page == 1 %}
      <a href="{{ paginator.previous_page_path | relative_url }}">{{ page }}</a>
    {% else %}
      <a href="{{ site.paginate_path | relative_url | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
  {% endfor %}