---
layout: page
title: 'Blog'
subtitle: 'Maps, codes & stuff'
excerpt: This is my blog
---

   {% for post in paginator.posts %} 
   <p>{{ post.title }} - <a href="{{ post.url | absolute_url }}">link</a></p>
   {% endfor %}
   
   
{% assign max_per_page = site.paginator_maxnum | 
                         default: 3 | at_least: 2 | 
                         at_most : paginator.total_pages %}
{% assign lastpaginator = paginator.total_pages |
                          minus: max_per_page | plus: 1 %}

{% if paginator.page < max_per_page %}
  {% assign init: 1 %}
  {% assign end: max_per_page %}
{% elsif paginator.page >= lastpaginator  %}
  {% assign init: lastpaginator %}
  {% assign end: paginator.total_pages %}
{% else %}
  {% assign init: paginator.page | minus: max_per_page | plus: 2 %}
  {% assign end: paginator.page | plus: 1 %}
{% endif %}

{{ init }} to {{ end }}
