---
layout: page
title: 'Blog'
subtitle: 'Maps, codes & stuff'
excerpt: This is my blog
---

   {% for post in paginator.posts %} 
   <p>{{ post.title }} - <a href="{{ post.url | absolute_url }}">link</a></p>
   {% endfor %}
   
 
{{ }} 
 
<p>paginator.page {{ paginator.page }}</p>
<p>paginator.per_page {{ paginator.per_page }}</p>
<p>paginator.total_posts {{ paginator.total_posts }}</p>
<p>paginator.total_pages {{ paginator.total_pages }}</p>
<p>paginator.previous_page {{ paginator.previous_page }}</p>
<p>paginator.previous_page_path {{ paginator.previous_page_path }}</p>
<p>paginator.next_page {{ paginator.next_page }}</p>
<p>paginator.next_page_path {{ paginator.next_page_path }}</p>

   
   <h3>Paginators</h3>
{% if paginator.total_pages > 1 %}
	{% if paginator.previous_page %}
		<p><a href="{{ paginator.previous_page_path | relative_url }}">Newer Posts</a></p>
	{% endif %}
	{% if paginator.next_page %}
<p><a href="{{ paginator.next_page_path | relative_url }}">Older Posts</a></p>
	{% endif %}
{% endif %}

  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <em>{{ page }}</em>
    {% elsif page == 1 %}
      <a href="{{ paginator.previous_page_path | relative_url }}">{{ page }}</a>
    {% else %}
      <a href="{{ site.paginate_path | relative_url | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
  {% endfor %}
  
  <p>
  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <span class="lead">{{ page }}</span>
    {% elsif page == 1 %}
      {{ paginator.previous_page_path  }}
    {% else %}
      {{ site.paginate_path | replace: ':num', page }}
    {% endif %}
  {% endfor %}  
  </p>
  
<nav aria-label="Page navigation example" class="mt-4 chulapa-pagination">
  <ul class="pagination justify-content-center ">
  <li class="page-item  text-left">
  <a class="page-link border-0" href="#" tabindex="-1">
  <i class="fa fa-caret-left fa-lg" aria-hidden="true"></i><span class="sr-only">Previous</span>
  </a>
  </li>
  <li class="page-item  mr-auto text-left">
  <a class="page-link border-0" href="#" tabindex="-1">
  <i class="fa fa-chevron-left" aria-hidden="true"></i><span class="sr-only">Previous</span>
  </a>
  </li>
  <div class="d-flex chulapa-pagination-round">
  <li class="page-item mx-3"><a class="page-link" href="#">1</a></li>
  <li class="page-item mx-3 active"><a class="page-link" href="#">2</a></li>
  <li class="page-item mx-3"><a class="page-link" href="#">3</a></li>
  </div>
  <li class="page-item ml-auto text-right disabled">
  <a class="page-link border-0" href="#">
  <i class="fa fa-chevron-right" aria-hidden="true"></i><span class="sr-only">Next</span></a>
  </li>
  <li class="page-item text-right">
  <a class="page-link border-0" href="#">
  <i class="fa fa-caret-right fa-lg" aria-hidden="true"></i><span class="sr-only">Next</span></a>
  </li>
  </ul>
</nav>

