---
layout: default
---

{{- content -}}


{% if page.archive_collection == "all" %}
  {% assign alldocs = site.documents %}
{% elsif page.archive_collection %}
  {% assign alldocs = site.documents | where_exp: "item", "item.collection == page.archive_collection" %}
{% else%}
  {% assign alldocs = site.posts %}
{% endif %}
{% assign alldocs = alldocs | sort: 'date' | reverse %}


{% assign postsInYear = alldocs | group_by_exp: 'post', 'post.date | date: "%Y"' %}
<div class="row pt-5" id="years">
  {% for year in postsInYear %}
  <div class="col-sm-6 chulapa-links-hover-only py-2 px-5 px-sm-2">
        <a href="#{{ year.name }}" class="d-flex justify-content-between align-items-center border-bottom ">
        {{ year.name }} <span class="badge rounded-pill chulapa-pill-bg-primary">{{ year.items | size }}</span>
      </a>
  </div>
  {% endfor %}
</div>



{% for document in alldocs %}

- {{ document.title }} - {{ document.date | date_to_string }}

{% endfor %}



