---
layout: default
---

{{- content -}}


{% if page.cloud_collection == "all" %}
  {% assign alldocs = site.documents %}
{% elsif page.cloud_collection %}
  {% assign alldocs = site.documents | where_exp: "item", "item.collection == page.cloud_collection" %}
{% else%}
  {% assign alldocs = site.posts %}
{% endif %}
{% assign alldocs = alldocs | sort: 'date' | reverse %}
{% assign grouptag =  alldocs | map: 'tags' | join: ','  | split: ','  | group_by: tag | sort: 'size' | reverse %}
<div class="row no-gutters pt-5" id="tags">
<div class="col">
	{%- for tag in grouptag -%}
	<a href="#{{- tag.name | uri_escape -}}" class="btn btn-chulapa m-1" role="button" style="font-size: calc(1rem + {{tag.size}}px/3 - 1px);"><i class="fa fa-tag mr-2" aria-hidden="true"></i>{{- tag.name -}}<span class="badge badge-pill badge-info ml-2">{{tag.size}}</span></a>
	{%- endfor -%}
	</div>
</div>

{% assign words_per_minute = site.words_per_minute | default: 200 %}
{% for tag in grouptag %}
<section id="{{- tag.name -}}" class="py-3">
<div class="d-flex  align-items-center border-bottom border-chulapa mt-5">
  <h3 class="my-0"><i class="fa fa-tag mr-1" aria-hidden="true"></i>{{- tag.name -}} </h3>
  <div class="badge badge-pill badge-info ml-2">{{tag.size}}</div>
</div>
  {% for document in alldocs %}
  {% assign words = document.content | strip_html | number_of_words %}
  {% assign readtime = "< 1’" | escape_once  %}
  {% if words > words_per_minute %}
  {% assign readtime = words | divided_by:words_per_minute | append: "’" %}
  {% endif %}
	{% if document.tags contains tag.name %}
  <article class="chulapa-links-hover-only my-1 mb-4 row no-gutters">
    <div class="col">
      <h5><a href="{{ document.url | absolute_url }}">{{ document.title }}</a></h5>
      <div>
        {% if document.date %}
        {% assign dateformat = document.date | date: "%B %d, %Y" %}
        <i class="far fa-calendar" aria-hidden="true"></i> <time datetime="{{- document.date | date_to_xmlschema -}}">{% include_cached snippets/datetranslate.html  date=dateformat %}</time> | 
        {% endif %}
        <i class="far fa-clock" aria-hidden="true"></i> {{ readtime }} 
        {%- if page.cloud_collection == "all" -%}
        <span class="ml-2 badge badge-light">{{ document.collection }}</span>
        {%- endif -%}
      </div>
    </div>
    {% if document.header_img %}
    <a href="{{ document.url | absolute_url }}" class="col-2 btn chulapa-overlay-img-noheight" style="background-image: url('{{ document.header_img | absolute_url }}')">
    </a>
    {% endif %}
  </article>
  {% endif %}
  {% endfor %}
  <div class="text-right">
      <a href="#tags" class="btn btn-outline-chulapa btn-lg border-0"><i class="fa fa-chevron-up fa-lg" aria-hidden="true"></i><span class="sr-only">Top</span></a>
  </div>
</section>
{% endfor %}
