--- 
layout: minimal
---

{%- include components/headers.html headertype= page.header_type imghero=page.header_img -%}
    <main class="container-lg pb-5 flex-fill">
  {%- if page.show_date or page.show_sociallinks -%}
  {%- include components/datesocial.html -%}
  {%- endif -%}
      <div class="row">
            <div class="col-xl-8 offset-xl-2 mt-4">
                {{- content -}}
            </div>
      </div>
    </main>
    {%- if page.show_bottomnavs -%}
    {%- include components/navbeforeafter.html -%}
    {%- endif -%}
    {%- if page.show_categories -%}
    {%- include components/categories.html-%}
    {%- endif -%}
    {%- if page.show_tags -%}
    {%- include components/tags.html-%}
    {%- endif -%}
